@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* *****************NAVBAR********************** */

nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* background-color: #333; */

}

.upperNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    /* position: sticky; */
    background-color: white;
    /* color: #fff; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.logobox {
    display: flex;
    align-items: center;
    margin-left: 30px;


}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    font-weight: bolder;
    display: none;
    color: black;
}

.logo {
    font-family: "Playwrite CZ", cursive;
    font-weight: 400px;
    color: #ff3405;
    margin-left: 20px;
}

.logo h1 {
    font-size: 30px;

}

.menubar {
    display: flex;
    gap: 51px;
    list-style: none;
    margin-left: 50px;

}



.menu a {
    text-decoration: none;
    color: black;
    /* color: white; */
    font-size: 18px;
    position: relative;

}

.menu a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff3405;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: left;
}

.menu a:hover:after {
    transform: scaleX(1);
}

.dropdown-menu{
    position: absolute;
    z-index: 100;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    background-color: white;
    padding: 12px 33px;
    opacity: 0;
    transform: translateY(-30%);
    transition: transform 0.5s ease, opacity 0.5s ease-in-out;
    visibility: hidden;
    
}
.dropdown:hover .dropdown-menu{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    
}

.Nav_LeftBtns {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.LikedRecipesBtn, .logIn {
    padding: 9px 12px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffa089;
    border: none;
    border-radius: 5px;
    color: white;
}

.LikedRecipesBtn a, .logIn a{
    text-decoration: none;
    color: #fff;
}

.LikedRecipesBtn:hover, .logIn:hover {
    background-color: #e9532e;
}



@media (max-width:970px) {
    .hamburger {
        display: block;
    }

    .menubar {
    
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
        background-color: #fff;
        position: absolute;
        top: 18%;
        margin: 0;
        width: 100%;
        left: 0;
        z-index: 10;
        padding-bottom: 20px;
       transform: translateX(-100%);
       transition: transform 0.8s ease-in;
        
    }

    .showMenu {
        display: flex;
        transform: translateX(0);
        /* transition: transform 0.6s ease-in-out; */
    }

}

@media (max-width:490px) {
    .LikedRecipesBtn {
        display: none;
    }
}

/* ********************banner**************** */

.container {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container_bg {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}

.banner_content{
    position: absolute;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 70%;
    width: 90%;
}

.banner_heading{
    font-size: 35px;
}

.banner_slider{
    display: flex;
    margin-top: 20px;
    width: 80%;
    overflow-x: scroll;
    gap: 15px;
}
.cuisine{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
    padding: 12px 5px;
}
.cuisine_img{
    width: 150px;
    cursor: pointer;
}
.cuisine_name{
    position: absolute;
    color: white;
}

.banner_slider::-webkit-scrollbar{
    margin-top: 10px;
    height: 5px;
    display: none;
}
/* .banner_slider::-webkit-scrollbar-track{
    border-radius: 12px;
    /* height: 5px; */
    /* background-color:transparent;
}

.banner_slider::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color: #d7d5d5;
    width: 100px;
} */ 

@media (max-width:750px) {
    .banner_heading{
        font-size: 20px;
    }
    .cuisine_img{
        width: 120px;
    }
}
@media (max-width:400px) {
    .banner_heading{
        font-size: 15px;
    }
}

/* ___________________ recipe categories_____________________ */

.Recipe_category{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
}

.category_names{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.category{
 font-size: 25px;   
 padding: 12px 12px;
 text-decoration: none;
 color: black;
 position: relative;
}

.category::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff3405;
    left: 0;
    bottom: 0;
    display: none;
}

.category:hover::after{
    display: block;
}

@media (max-width:750px) {
    .category{
        font-size: 15px;
    }
}
@media (max-width:515px) {
    .Recipe_category{
        display: none;
    }
}


 
.meal_box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 10px;
    align-items: center;
}

.meal_box h1{
    padding-left: 40px;
}

.block{
    display: flex;
   flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    
}

.item_layout{
    position: absolute;
    top: 0;
    
    height: 80%;
    width: 100%;
    display: none; 
    justify-content:end;
    
 }
 .like-btn{
    height: fit-content;
    outline: none;
    border: none;
    background: none;
}
 
 .fa-heart{
    font-size: 30px;
    -webkit-text-stroke: 2px black;
    color: transparent;
    cursor: pointer; 
     margin-top: 10px;
     justify-self: center;  
     margin-right: 10px;  
}
.fa-heart:hover{
    /* color: black; */
    font-size: 33px;
}
.fa-heart.liked{
    color: black;
}

.item:hover .item_layout{
    display: flex;
    box-shadow: inset;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.item_info h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.center_info p{
    cursor: pointer;
}

.item_img{
    max-width:250px;
    width: auto;
    min-width: 150px;
}
