@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* *****************NAVBAR********************** */

nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* background-color: #333; */

}

.upperNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    /* position: sticky; */
    background-color: white;
    /* color: #fff; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.logobox {
    display: flex;
    align-items: center;
    margin-left: 30px;


}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    font-weight: bolder;
    display: none;
    color: black;
}

.logo {
    font-family: "Playwrite CZ", cursive;
    font-weight: 400px;
    color: #ff3405;
    margin-left: 20px;
}

.logo h1 {
    font-size: 30px;

}

.menubar {
    display: flex;
    gap: 51px;
    list-style: none;
    margin-left: 50px;

}



.menu a {
    text-decoration: none;
    color: black;
    /* color: white; */
    font-size: 18px;
    position: relative;

}

.menu a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff3405;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: left;
}

.menu a:hover:after {
    transform: scaleX(1);
}

.dropdown-menu{
    position: absolute;
    z-index: 100;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    background-color: white;
    padding: 12px 33px;
    opacity: 0;
    transform: translateY(-30%);
    transition: transform 0.5s ease, opacity 0.5s ease-in-out;
    visibility: hidden;
    
}
.dropdown:hover .dropdown-menu{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    
}

.Nav_LeftBtns {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.LikedRecipesBtn, .logIn {
    padding: 9px 12px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffa089;
    border: none;
    border-radius: 5px;
    color: white;
}

.LikedRecipesBtn a, .logIn a{
    text-decoration: none;
    color: #fff;
}

.LikedRecipesBtn:hover, .logIn:hover {
    background-color: #e9532e;
}



@media (max-width:970px) {
    .hamburger {
        display: block;
    }

    .menubar {
    
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
        background-color: #fff;
        position: absolute;
        top: 18%;
        margin: 0;
        width: 100%;
        left: 0;
        z-index: 10;
        padding-bottom: 20px;
       transform: translateX(-100%);
       transition: transform 0.8s ease-in;
        
    }

    .showMenu {
        display: flex;
        transform: translateX(0);
        /* transition: transform 0.6s ease-in-out; */
    }

}

@media (max-width:490px) {
    .LikedRecipesBtn {
        display: none;
    }
}


/* ________________RECIPE CONAINER______________________ */

.recipe_container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* Default for larger screens */
.recipe_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px; /* Add some gap between grid items */
    justify-content: center;
    justify-items: center;
    width: 90%;
    
}
.recipe_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 30px;
}
.recipe_img{
    display: flex;
    justify-content: end;
}
.recipe_img img{
    width: 80%; /* Make the image take up 100% of its container's width */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    display: block; /* Remove any unwanted space below the image */
    object-fit: cover;
    border-radius: 22px;
}

.recipe_category{
    font-size: 20px;
    color: gray;
}

.star_rating{
    margin: 20px 30px;
}

.fa-star{
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.fa-star.checked{
    color: yellow;
    -webkit-text-stroke: 1px yellow;
}

.recipe_subInfo{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    gap: 10px;
    justify-content: center;
}

.recipe, .ingredients{
    padding: 22px 30px;
   
}
.recipe h2, .ingredients h2{
    margin-bottom: 10px;
}

.time{
    padding: 12px 35px;
}
.time p:first-child{

    font-size: 23px;
}
.time p:last-child{
    font-size: 15px;
}


/* For tablets */
@media (max-width: 768px) {
    .recipe_box {
        grid-template-columns: 1fr;
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .recipe_box {
        grid-template-columns: 1fr;
    }
}
